node_modules

.myignore
.venv

res.txt
.yarn
.yarnrc.yml
packages/frontend/.next

# Yarn Plug'n'Play artefacts
.pnp.cjs
.pnp.loader.mjs
artifacts/
!artifacts/
!artifacts/manifest.json
services/relay-daemon/dist
